.legalNotice{
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    h1.title{
        align-self: center;
      
    }
    h2.title{
        margin: 50px 0px;
    }
    h3,h4.title{
        margin: 40px 0px 10px 0px;
    }

}