.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px; 
    transition: all 0.3s ease-in;
    color:  var(--primary-text-color);
}


// themes
.clear{
    padding:0px;
    margin: 0px;
    outline: none;
    background: none;

}
.outline{
    border: 2px solid var(--primary-color);
    color:  var(--primary-color);
    background: none;
    @media (hover:hover) {
        &:hover{
            box-shadow:0px 0px 9px 2px var(--primary-color);
        }
   }
    @media (hover:none) {
        &:active{
            box-shadow:0px 0px 9px 2px var(--primary-color);
        }
   }
     border-radius: 10px; 
}
.outlineRed{
    border: 2px solid var(--red-dark); 
    color: var(--primary-text-color);
    border-radius: 10px; 
     background: none;
        @media (hover:hover) {
            &:hover{
                background: var(--secondary-color);
            }
        }
        @media (hover:none) {
            &:active{
                background: var(--secondary-color);
            }
        }
}
.circles{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    color: var(--primary-text-color);
    background: var(--primary-color);
}

.s{
    font: var(--font-s);
    padding: 10px 15px;
}
.m{
    padding: 18px 50px;
    font: var(--font-m);
         @media (max-width:1024px) {
            padding: 15px 40px;
        }
    @media (max-width:736px) {
        font: var(--font-s);
          padding: 10px 35px;
    }
}
.l{
    font: var(--font-l);
    padding: 32px 120px;
        @media (max-width:1024px) {
            font: var(--font-m);
            padding: 25px 110px;
        }
        @media (max-width:736px) {
            padding: 25px 100px;
        } 
}


