.primary{
    color: var(--primary-text-color);
}
.secondary{
    color:var(--secondary-text-color);
}
.red{
    color: var(--red-light);
}
.info{
   color: var(--primary-color); 
}

.s{
    
}
.m{
   font: var(--font-m);
}
.l{
  font:var(--font-l);
}
.xl{
  font:var(--font-xl);
}