.col1,.col2,.col3,.col4{
    height: 100%;
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    margin: 15px;
    transition: all ease 1s;
    opacity: 0;
    @media (max-width:1800px) {
    flex: 0 1 25%;
    }
    @media (max-width:1442px) {
    flex: 0 1 40%;
    }

    @media (max-width:1080px) {
    flex: 0 1 100%;
    }
    .icon{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: var(--primary-color);
    }
    .title{
    margin: 20px 0px;
    }
    .icon{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: var(--primary-color);
    }
}
.col1{
    transform: translateX(-500px);
}
.col2{
    transform: translateX(-500px);
}
.col3{
    transform: translateX(500px);
}
.col4{
    transform: translateX(500px);
}

.col1.mounted{
    transform: translateX(0px);
    opacity: 1;
}
.col2.mounted{
    transform: translateX(0px);
    opacity: 1;
}
.col3.mounted{
    transform: translateX(0px);
    opacity: 1;
}
.col4.mounted{
    transform: translateX(0px);
    opacity: 1;
}
    