:root {
    --font-family-main:"Roboto", sans-serif;
    --font-size-s:16px;
    --font-line-s:24px;
    --font-s:var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m:18px;
    --font-line-m:26px;
    --font-m:var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l:24px;
    --font-line-l:32px;
    --font-l:var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl:32px;
    --font-line-xl:40px;
    --font-xl:var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --modal-z-index:10;
    --overlay-color:rgb(0 0 0 / 60%);
    --black-color:black;
    --red-light:rgb(253 2 2);
    --red-dark:rgb(193 1 1);
    --primary-text-color:#ffffff;
    --secondary-text-color:#3333;
    --primary-color:#33bcd8;
    --primary-hover-color:rgb(6, 213, 213);
    --secondary-color:#800000;
    --disabled-color:rgb(6, 163, 163);
}