.appLink{
    cursor: pointer;
    border-radius: 5px;
}
.outline{
    border: 2px solid rgb(128,0,0); 
    color: rgb(128,0,0);
    transition: all ease-in 0.3s;
    &:hover{
       background: rgb(128,0,0);
       color: #ffff;
    }
}
.l{ 
    padding: 33px;
}
.m{
    padding: 23px;
}
.s{
    padding: 13px;
}

