.appLink{
    cursor: pointer;
    // border-radius: 5px;
}
.clear{
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}
.outline{
    border: 2px solid var(--red-dark); 
    color: var(--red-dark); 
    border-radius: 5px;
    transition: all ease-in 0.3s;
    &:hover{
       background: var(--red-dark);
       color: var(--primary-text-color);
    }
}
.primary{
    color: var(--primary-color);
    transition: color ease 0.3s;
    &:hover{
        // transition: all ease 1s;
        color:var(--primary-hover-color);
    }
}
.secondary{
    color: var(--secondary-color);
}
.l{ 
    padding: 33px;
}
.m{
    padding: 23px;
}
.s{
    padding: 13px;
}

