 .skillItem{
    flex:0 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    position: relative;
    background: #fff;
    color: #000;
    height: 120px;
    margin: 45px;
    opacity: 0;
    transition: all ease 1s;
    @media (max-width:1024px) {
       flex:0 1 40%;
       margin: 25px;
    }
    @media (max-width:736px) {
         flex:0 1 100%;
    }
    &:first-child{
        transform: translateX(-200px);
    } 
    &:nth-child(2){
        transform: translateY(200px);
    }
    &:nth-child(3){
        transform: translateX(200px);
    }
    &:nth-child(4){
        transform: translateX(-200px);
    }
    &:nth-child(5){
        transform: translateY(200px);
    }
     &:nth-child(6){
        transform: translateX(200px);
    }
    &:nth-child(7){
        transform: translateX(-200px);
    }
    &:nth-child(8){
        transform: translateY(100px);
    }
    &:nth-child(9){
        transform: translateX(200px);
    }        
 }
.skillItem.mounted{
     opacity: 1;
    &:first-child{
        transform: translateX(0);
    } 
    &:nth-child(2){
        transform: translateY(0);
    }
    &:nth-child(3){
        transform: translateX(0);
    }
    &:nth-child(4){
        transform: translateX(0);
    }
    &:nth-child(5){
        transform: translateY(0);
    }
     &:nth-child(6){
        transform: translateX(0);
    }
    &:nth-child(7){
        transform: translateX(0);
    }
    &:nth-child(8){
        transform: translateY(0);
    }
    &:nth-child(9){
        transform: translateX(0);
    }
}

.icon{
    position: absolute;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background: #fff;
    box-shadow: 0 0 6px 2px gray;
        &:hover{
            box-shadow: 0 0 6px 3px gray; 
        }
}