.layout{
  font-size: 18px;
 //padding: 0px 160px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  // @media (max-width:1200px) {
  //   padding:0px 80px;
  // }
}