.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1A1A1A;
    padding: 0px  160px 40px 160px;
    @media (max-width:1024px) {
        padding: 0px  60px;
    }
    @media (max-width:736px) {
        padding: 0px 10px;
    }


    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: stretch;
        border-top: 4px solid var(--primary-color);
        padding-top:80px;
        margin: 15px;

       
    }
}