.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1A1A1A;
    padding: 0px  160px 40px 160px;
    @media (max-width:1024px) {
        padding: 0px  60px;
    }
    @media (max-width:736px) {
        padding: 0px 10px;
    }



}