.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 112px;
    z-index: 60;
    box-shadow: 0px 1px 20px 3px var(--primary-color);
    padding: 0px 160px;
    @media (max-width:1024px) {
        padding: 0px 60px;
    }
    @media (max-width:736px) {
        padding: 0px 10px;
    }
}
.btn{
    position: fixed;
    top: 30px;
    right: 20px;
    cursor: pointer;
    padding: 20px;
    .firstBtnItem{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 3px;
            width: 27px;
            right: -14px;
            top:-10px;
            background: var(--primary-text-color);
            transition: all 0.3s ease;
        }
        &::before{
            content: '';
            position: absolute;
            height: 3px;
            width: 27px;
            right: -14px;
            top:10px;
            background: var(--primary-text-color);
            transition: all 0.3s ease;
        }
    }
    .secondBtnItem{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 3px;
            width: 20px;
            right: -14px;
            top: 0px;
            background: var(--primary-text-color);
          
        }
    }
}
.btn.visible{
  
     .firstBtnItem{
        position: relative;
        &::after{
            top:0;
            transform: rotate(-45deg);
        
        }
        &::before{
            top:0;
            transform: rotate(45deg);
           
        }
    }
    .secondBtnItem{
        position: relative;
        &::before{
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }
    }
}