.header{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
 // justify-content: space-between;
  align-items: center;
  height: 112px;
  padding: 0px 160px;
  z-index: 60;
   background-color: #0000005e;
   box-shadow: 1px 0 10px 3px #2fb1cf;
}