.navbar{
    @media (max-width:733px) {

    }
}
.navbar.mounted{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
     @media (max-width:733px) {
        margin-top:170px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
.menuItem{
    cursor: pointer;
    margin-right: 39px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    padding:5px;
    border-radius: 2px;
     @media (max-width:733px) {
         margin-right: 0px;
         margin-bottom: 60px;
           &:last-child{
                margin-bottom: 0px;
            }
     }
    &:last-child{
        margin-right: 0px;
    }
    @media (max-width:1064px) {
       margin-right: 29px;
    }
    &:hover{
        background: #2fb1cf;
    }
    @media (max-width:833px) {
        margin-right: 12px;
    }
}