.navbar{
    @media (max-width:1024px) {
        // height: 100vh;
    }
}
.navbar.mounted{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
     @media (max-width:1024px) {
        margin-top:170px;
        flex-direction: column;
        align-items: center;
       justify-content: flex-start;
    }
}
.menuItem{
    cursor: pointer;
    margin-right: 39px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    padding:5px;
    border-radius: 2px;
    @media (max-width:1064px) {
       margin-right: 29px;
    }
    @media (max-width:833px) {
        margin-right: 12px;
    }
    @media (max-width:1024px) {
         margin-right: 0px;
         margin-bottom: 20px;
         &:last-child{
            margin-bottom: 40px;
        }
     }
  
    @media (hover:hover) {
        &:hover{
            background: var(--primary-color);
        } 
    }
    @media (hover:none) {
        &:active{
            background: var(--primary-color);
        } 
    }
  
}