.works{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0px 160px;
    @media (max-width:1200px) {
        padding: 0px 100px;
    }
    @media (max-width:1024px) {
        padding: 0px 60px;
    }
    @media (max-width:736px) {
        padding: 0px 20px;
    }
    .headline{
        align-self: center;
        margin-top: 30px;
        transform: translateY(100px);
        opacity: 0;
        transition: all 1s ease;
    }
    .tabs{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        transition: all 1s ease;
        transform: scale(2);
        opacity: 0;
        .tab{
            margin-right: 150px;
            border-radius: 10px;
            &:last-child{
                margin-right: 0px;
            }
        }    
    } 
   .worksList{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        // justify-content:center;
        margin: -15px;
        @media (max-width:1587px) {
            justify-content:center;
        }
        @media (max-width:1024px) {
            justify-content:center;
        }
    }
}
.works.mounted{
    .headline{
       transform: translateY(0);
        margin-bottom: 40px;
        opacity: 1; 
    }
    .tabs{
        transform: scale(1);
        opacity: 1;
        .tab{
            transition: all 1s ease;
            margin-right: 10px;
        }
    }
}
.active{
        background: var(--red-dark)
}