.footer{
    padding: 10px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-text-color);
        @media (max-width:1200px) {
            padding: 0px 100px;
        }
        @media (max-width:1024px) {
            padding: 0px 60px;
        }
      
        @media (max-width:936px) {
            flex-direction: column-reverse;
            justify-content: space-around;
        }
        @media (max-width:736px) {
            padding: 0px 10px;
        }
    .social{
        display: flex;
        align-items: center;
        .icon{
            fill: var(--primary-text-color);        
            width: 49px;
            height: 49px;
        }
    }
}