.contact{
    height: 100%;
    padding: 0px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    @media (max-width:1024px) {
            padding: 0px 60px;
            margin: 50px 0px;
    }
    @media (max-width:736px) {
            padding: 0px 10px;
    }
    .title{
       
    }
    .dot{
        color: var(--primary-color);
    }
   
}