.contact{
    height: 100%;
    padding: 0px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    @media (max-width:1024px) {
            padding: 0px 60px;
            margin: 50px 0px;
    }
    @media (max-width:736px) {
            padding: 0px 10px;
    }
    .title{
       
    }
    .form{
        margin-top: 50px;
        width: 690px;
        @media (max-width:1280px) {
           width: 600px;
        }
        @media (max-width:768px) {
            width: 450px;
        }
        @media (max-width:480px) {
            width: 350px;
        }
        input,textarea{
            margin-top: 15px;
            color: var(--primary-text-color);
        }
        input{
            height: 50px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            color: var(--primary-text-color);
            outline-style: none;
            background: #1A1A1A;
            &:focus{
               border: 2px solid var(--primary-color);
            }
        }
        textarea{
            height: 200px;
            padding: 10px;  
            border-radius: 5px;
            outline-style: none;
            background: #1A1A1A;
            resize: none;
              &:focus{
               border: 2px solid var(--primary-color);
            }
        }
        
       .btn{
        margin-top: 20px;
        margin-left: auto;
            &:disabled{
                color: rgb(6, 163, 163);
                border:2px solid rgb(6, 163, 163);
                &:hover{
                    box-shadow: none;
                }
            }
       } 
    }
    .nameInput{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .emailInput{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .messageInput{
        display: flex;
        flex-direction: column;
    }
}