.headline{
    color: #FFF;
    font-style: normal;
    line-height: normal; 
}
.s{

}
.m{
    font-size:36px;
    line-height: 44px;
    font-weight: bold;
}
.l{
    font-size: 65px;
    font-weight: 700;
}