
.headline{
    color: #FFF;
    font-family: var(--font-family-main);
}
.s{
    font-size: 30px;
    line-height: 43px;
    font-weight: 700;
    @media (max-width:1024px) {
        font-size: 31px;
        line-height: 43px;
    }
    @media (max-width:736px) {
        font-size: 28px;
        line-height: 33px;
    }
}
.m{
    font-size: 35px;
    line-height: 53px;
    font-weight: 700;
    @media (max-width:1024px) {
        font-size: 30px;
        line-height: 43px;
    }
    @media (max-width:736px) {
        font-size: 26px;
        line-height: 33px;
    }
}
.l{
    font-size: 65px;
    font-weight: 700;
     @media (max-width:1024px) {
        font-size: 45px;
     }
     @media (max-width:736px) {
        font-size: 35px;
     }
}