.homeTop{
    display: flex;
    flex-direction: column;
    position: relative;
    height:calc(100vh) ;
    padding: 0px 160px;
    background:url("../../assets/bg/001.jpg") 0px 0px / 100% 100% no-repeat;
        @media (max-width:1200px) {
            padding: 0px 100px;
        }
        @media (max-width:1024px) {
            padding: 0px 60px;
        }
        @media (max-width:736px) {
            padding: 0px 10px;
            background:url("../../assets/bg/001.jpg") -3px 0px / 100% 70% no-repeat;
        }
        .content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content:flex-start;
            margin-top:160px;
            .headline{
                opacity: 0;
                transition: all ease 1s;
                transform: translateX(-1000px);
                 margin-bottom: 100px;
                .name{
                    margin-left: 10px;
                    color:var(--red-dark);
                }
                .dev{
                    color: var(--primary-color);
                }
            }
            .button{
                transition: all ease 1s;
                transform: translateX(1000px);
                opacity: 0;
                
              
            }
            
        }
    .content.mounted{
        .button{
            transform: translateX(0);
            opacity: 1;
        }  
        .headline{
            transform: translateX(0);
            opacity: 1; 
        } 
    }
}