.homeTop{
    display: flex;
    flex-direction: column;
    // justify-content: end;
    position: relative;
    height: 100vh;
    padding: 0px 160px;
    background:url("../../assets/bg/001.jpg") 0px 110px / 100% 100% no-repeat;
     @media (max-width:1024px) {
        padding: 0px 60px;
    }
    @media (max-width:736px) {
        padding: 0px 10px;
        background:url("../../assets/bg/001.jpg") 0px 110px / 100% 70% no-repeat;
    }
    .left{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      .headline{
        .name{
          color:var(--secondary-color);
        }
        .dev{
          color: var(--primary-color);
        }
      }
      .button{
        margin-top: 66px;
        @media (max-width:536px) {
            // align-self: center;
        }
      }
    }
}